﻿a:link{
 color:green;
 background-color:transparent;
 text-decoration:none;}
a:visited{
 color:black;
 backgroound-color:transparent;
 text-decoration:none;}
a:hover{
 color:red;
 background-color:transparent;
 text-decoration:underline;}
a:active{
 color:yellow;
 background-color:transparent;
 text-decoration:underline;}